<div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Über diese Seite</h4>
          <div class="hline-w"></div>
          <p>{{ site.description }}</p>
        </div>
        <div class="col-lg-4">
          <h4>Social</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://twitter.com/iamdabei"><i class="fa fa-3x fa-fw fa-twitter"></i></a>
            <a href="https://github.com/pkunze"><i class="fa fa-3x fa-fw fa-github"></i></a>
            <a href="https://www.facebook.com/paul.kunze1"><i class="fa fa-3x fa-fw fa-facebook"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Our Bunker</h4>
          <div class="hline-w"></div>
          <p>
            Some Ave, 987,<br/>
            23890, New York,<br/>
            United States.<br/>
          </p>
        </div>
      
      </div><! --/row -->
    </div><! --/container -->
   </div><! --/footerwrap -->